<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="home">
            <a class="button" href="/home">Home</a>
        </div>
        <div class="logout">
            <a class="button" href="/logout">Logout</a>
        </div>
        <div class="container">
            <a href="/home"><img src="/images/logo.jpg" alt=""></a>
            <h1>SIMPLEX</h1>
            <h5>Team <%= team.name %></h5>
            <% for (var i = 0; i < sections.length; i++) { %>
            <p><a href="/section/<%= sections[i] %>"><%= sections[i] %></a></p>
            <% } %>
        </div>
    </body>
</html>
