<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <img src="images/logo.jpg" alt="">
            <h1>SIMPLEX</h1>
            <h5>Team <%= team.name %></h5>
            <p><a href="/section/point">Point</a></p>
            <p><a href="/section/segment">Segment</a></p>
            <p><a href="/section/triangle">Triangle</a></p>
            <p><a href="/section/pyramid">Pyramid</a></p>
            <p><a href="/section/simplex">SIMPLEX</a></p>
            <h5><a href="/logout">Logout</a></h5>
        </div>
    </body>
</html>
