<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="content">
            <a href="/login"><img src="/images/logo.jpg" alt=""></a>
            <h1>RULES</h1>
            <iframe src="/rules.html"></iframe>
        </div>
    </body>
</html>

